html, body{
    height: 100%;
    font-family: sans-serif;
}
#main{
    min-height: 100%;
    padding: 0 30px;
}

/**************************************
 Header
**************************************/
header{
    text-align: center;
}
header h1#title{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
header span{
    display: block;
}
header div p#img-caption{
    font-style: italic;
    color: rgba(0, 0, 0, 0.60);
    margin-top: 5px;
    padding-top: 0;
}
header img{
    width: 50%;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.60);
}

@media screen and (min-width: 800px){
    header img{
        width: 25%;
    }    
}
/**************************************
Body
**************************************/
#tribute-info a:link,
#tribute-info a:visited{
    font-weight: bold;
    color: darkblue;
    border: dotted 1px gray;
    text-decoration: none;
}

#tribute-info a:hover{
    animation: body-link 0.25s forwards;
}
/**************************************
 Footer
**************************************/
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: relative;
    clear: both;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li{
    display: inline;
}

footer #copyright{
    float: left;
    padding-left: 20px;
}

footer #social{
    float: right;
    font-size: 45px;
}

footer #social:last-child{
    padding-right: 20px;
}

footer a:hover{
    animation: social-link 0.5s forwards;
}

footer a:link,
footer a:visited{
    color: #fff;
}

@keyframes body-link{
    100%{
        color: rgb(128, 199, 223);
    }
}

@keyframes social-link{
    100%{
        color: rgb(128, 199, 223);
    }
}

